{{!-- <li>
    {{burger_name}}

    {{#if devoured}}
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">EAT ME</button>
    {{/if}}

    {{#unless devoured}}
    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
    {{/unless}}
</li> --}}